<nav class="navbar navbar-expand-sm bg-primary navbar-dark" [myclass]="color" *myIf="show">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
    <li class="nav-item">
      <a routerLink="observer" class="nav-link" routerLinkActive="active">Observable</a>
  </li>
    <li class="nav-item">
      <a routerLink="parent" class="nav-link" routerLinkActive="active">parent</a>
    </li>
    <li class="nav-item">
      <a routerLink="child" class="nav-link" routerLinkActive="active">child</a>
    </li>
    <li class="nav-item">
      <a routerLink="reactive" class="nav-link" routerLinkActive="active">reactive</a>
    </li>
    <li class="nav-item">
      <a routerLink="reactive2" class="nav-link" routerLinkActive="active">reactive2</a>
    </li>
    <li class="nav-item">
      <a routerLink="template2" class="nav-link" routerLinkActive="active">template2</a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" class="nav-link" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <input [value]="title"/>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
<button style="padding: 20px; color: white; background-color: green;" routerLink="a">Load Module A</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="b">Load Module B</button>
<footer class="footer">
  <label>Do you want header ? </label>
  <input  type="checkbox" [(ngModel)]="show">

  <label>Please choose header color </label>

  <input type="radio" id="red" name="red" value="red" [(ngModel)]="color">
  <label for="red">red</label>

  <input type="radio" id="blue" name="blue" value="blue" [(ngModel)]="color">
  <label for="blue">blue</label>

  <input type="radio" id="green" name="green" value="green" [(ngModel)]="color">
  <label for="green">green</label>
  <!-- <div class="container">
      <span>angular boot</span>
  </div> -->
</footer>