<form [formGroup]="myFormGroup" (ngSubmit)="submit()">
    <div *ngFor="let chk of chkArray;">
        <label>
            <input type="checkbox" (change)="onChangeChk($event)" [checked]="chk.selected" [name]="chk.name" [value]="chk.value"/>
            {{chk.value}}
        </label>
    </div>
    <input type="text" [formControl]="name">
    <p style="background-color: red;" *ngIf="this.myFormGroup.controls['checkboxes'].errors?.['required']">
         Checkbox is required, select atleast one value.
    </p>
    <p style="background-color: red;" *ngIf="this.myFormGroup.controls['name'].errors?.['required'] && (this.myFormGroup.controls['name'].dirty || this.myFormGroup.controls['name'].touched)">
        enter name is required.
   </p>
    <input type="submit">
</form>
<!-- 
https://build-break-learn.signin.aws.amazon.com/console -->